#logo-div{
  display: flex;
  align-items: center;
  height: 15%;
  justify-content: center;
  text-align: center;
}
#sair{
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
  font-family: monospace;
}
ion-footer{
  background-color: #284ec9;
 
}
ion-button{
  color: #fff;
  letter-spacing: 3px;
  background-color: #284ec9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

form{
  max-width: 450px;
  display: block;
  margin: auto;
  margin-top: 1rem;
  ion-item:last-of-type{
      margin-bottom: 1rem;
  }
}

ion-list{
  max-width: 450px;
  display: block;
  margin: auto;
  ion-icon{
    cursor: pointer;
  }
}