ion-row{
    
    ion-button{
        color: #fff;
        letter-spacing: 3px;
        // background-color: #284ec9;
    }
}
form{
    max-width: 450px;
    display: block;
    margin: auto;
    margin-top: 2rem;
    ion-item{
        margin-bottom: 1rem;
    }
}   